---
export interface Props {
	doc: {
		post: { image: string; header: string; content: string; private: boolean };
		image: string;
		updated: number;
	};
	i: number;
}

const { doc, i } = Astro.props;
const updated = new Date(doc.updated).toLocaleDateString("en-GB", {
	weekday: "long",
	year: "numeric",
	month: "long",
	day: "numeric",
});
---

<div class='flex flex-col w-full justify-start items-center sm:max-w-sm'>
	<div
		class='group hover:no-underline focus:no-underline dark:dark:bg-zinc-900 w-full'
	>
		<img
			role='presentation'
			class='object-cover w-full dark:dark:bg-gray-500 h-44'
			src={doc.image}
		/>
		<div class='p-6 space-y-2'>
			<a
				href={`/posts/${encodeURI(doc.post.header)}`}
				class='flex flex-row w-full items-center justify-center'
			>
				<span
					class='text-2xl font-bold group-hover:underline group-focus:underline text-ellipsis overflow-hidden truncate'
				>
					{doc.post.header}
				</span>
			</a>
			<article class='h-60 overflow-hidden'>
				<span class='text-xs dark:text-gray-400'>{updated}</span>
				<div
					set:html={doc.post.content}
					class='first-letter:text-7xl first-letter:font-bold dark:first-letter:text-white first-letter:mr-3 first-letter:float-left md:text-left [&_p]:mt-4 md:[&_p]:mt-8 [&_blockquote]:pl-2 [&_blockquote]:text-gray-700 dark:[&_blockquote]:text-gray-100 [&_blockquote]:uppercase [&_blockquote]:tracking-widest [&_blockquote]:text-center'
				/>
			</article>
		</div>
	</div>
</div>